{% extends "base.html"%}
{% block content %}

<h3 class="mb-2 text-center">Available Book List</h3>
<div style="width: 80%; margin:auto" class="mt-5">
  {% if books %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Book Name</th>
      </tr>
    </thead>
    <tbody>
      {% for item in books %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td><a href="{% url 'book_details' item.id %}">{{item.book_name}}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h3 class="mb-2 text-center text-danger">No Books Available</h3>
  {% endif %}
</div>
{% endblock %}